WALA=\\\\172.23.141.15\\team\\qingfu\\WalaTest\\waagent
FC=\\\\reddog\\Builds\\branches\\rd_fabric_release\\1.0.4596.2487.amd64fre.rd_fabric.140527-1815
RDOS=\\\\reddog\\Builds\\branches\\OS_Candidate\\WAOS_WS08.140528-1817.6002.19103.amd64fre.longhorn_rd_os140.140528-1817
Tests=linux_Certs_page.iso,PositiveTests
#Distro=finaloracle65uek.vhd;finalslessp2.vhd;finalslessp3.vhd;finalubuntu1204.vhd;finalubuntu1210.vhd;finalubuntu1304.vhd;finalubuntu1310.vhd;finalcentos63.vhd;finalcentos65.vhd;finalopensuse13-1.vhd;finaloracle64.vhd;finaloracle65rhck.vhd;rhel7-beta.vhd
Distro=finaloracle65uek.vhd;finalslessp2.vhd;finalslessp3.vhd;finalubuntu1204.vhd;finalubuntu1210.vhd;finalubuntu1304.vhd;finalubuntu1310.vhd
##$mailTo common separated list of email address
mailTo=qingfuw@microsoft.com
MailTitle=RDOS Partner Test 1
FcReboot=True